DATABASE_URL=postgres://justin:cejowisz@localhost:5432/emr_db
DATABASE_HOST=localhost
POSTGRES_USER=justin
POSTGRES_PASSWORD=cejowisz
POSTGRES_DB=emr_db
BIND_ADDR=0.0.0.0:8080
JWT_SECRET=verysecretkeychangeme
JWT_EXPIRES_IN_SECONDS=86400
RUST_LOG=debug

RESEND_API_KEY=resend API key here
FROM_EMAIL=support@africinnovate.com
FRONTEND_URL=http://localhost:3000

GOOGLE_CLIENT_ID=your_google_client_id

CLOUDINARY_CLOUD_NAME=africinnovate-technology
CLOUDINARY_API_KEY=key
CLOUDINARY_API_SECRET=secret

GOOGLE_CLIENT_ID=

PAYSTACK_SECRET_KEY=sk_test_6f1f955d5a48eef3a128e58999599dc4eb122b45


DATABASE_URL=postgres://justin:cejowisz@192.168.1.138:5432/emr_db \
DATABASE_HOST=192.168.1.138 \
POSTGRES_USER=justin \
POSTGRES_PASSWORD=cejowisz \
POSTGRES_DB=emr_db \
./scripts/migrations.sh